@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.messaging {
  position: relative;
  display: flex;
  overflow: hidden;
  
  &__content {
    flex-grow: 1;

    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 1fr;
    
    @include sm {
      grid-template-columns: 1fr;
    }
  }

  &__contacts {
    padding-right: 14px;
    border-right: 4px solid $color-normal;
    overflow-y: scroll;

    &_turnOff {

      @include sm {
        display: none;
      }
    }
  }

  &__hint,
  &__dialogHint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  &__dialogHint {
    
    @include sm {
      display: none;
    }
  }
}
