@import "styles/utils/vars";
@import "styles/utils/mixins";

.sideFollow {
  margin-top: 60px;

  @include md {
    display: none;
  }

  &__title {
    margin: 0 0 12px;

    font-size: $font-size-normal;
    text-align: center;
    color: $color-dark;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 12px;

    border-radius: 12px;

    @include md {
      gap: 12px;
    }
  }
}
