@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.network {
  display: grid;
  grid-template-rows: auto 1fr;
  
  gap: 16px;
  
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  @include xs {
    gap: 12px;
  }

  &__content {
    position: relative;
    border-radius: $border-radius-block $border-radius-block 0 0;
    overflow-Y: scroll;
  }

  &__pagination {
    padding: 12px;
    
    background: $color-very-light;
    border: 1px solid $color-normal;
    border-radius: $border-radius-block;

    @include xs {
      padding: 8px;
    }
  }

  &__userList {
    border-radius: $border-radius-block;
  }
}
