@import "styles/utils/vars";
@import "styles/utils/mixins";

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $color-secondary;

  &__info {
    padding: 16px 0 60px;
    border-bottom: $devider;
  }

  &__postCreating {
    display: flex;
    justify-content: center;
  }

  &__postCreating {
    padding: 40px 0 60px;
  }

  &__posts {
    flex-grow: 1;
  }
}
