@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.profile {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 100%;
  background: $color-secondary;

  &__info {
    padding: 16px 0 52px;
    border-bottom: $devider;
  }

  &__postCreating {
    display: flex;
    justify-content: center;
    background: $color-secondary;
  }

  &__postCreating {
    padding-top: 40px;
  }

  &__posts {
    flex-grow: 1;
    padding-top: 40px;
    background: $color-secondary;
  }
}
