@import "styles/utils/vars";
@import "styles/utils/mixins";

.leftSidebar {
  grid-area: leftSidebar;
  margin-left: 16px;
  padding: 35px 0;

  background: $color-normal;
  border-radius: 12px;

  @include md {
    order: 2;
    margin: 0;
    padding: 20px 16px;

    border-radius: 0;
  }

  @include xs {
    padding: 6px 20px;
    background-color: $color-dark;
  }
}
