@import "styles/utils/vars";
@import "styles/utils/mixins";

.leftSidebar {
  @include sidebar;

  @include md {
    top: 0;
    order: 2;

    margin: 0 calc(0px - $page_indent);
    padding: 20px $page_indent;

    border-radius: 0;
  }

  @include xs {
    margin: 0 calc(0px - $page_indent_mobile);
    padding: 6px $page_indent_mobile;
    background-color: $color-dark;
  }
}
