@import 'styles/utils/vars.scss';
@import 'styles/utils/mixins.scss';

.message {
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  max-width: 70%;
  width: max-content;

  background: $color-very-light;
  border: 1px dashed $color-normal;
  border-radius: $border-radius-block;
  word-break: break-word;

  @include xl {
    max-width: 85%;
  }

  &_isAuthUser {
    align-self: end;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: $color-extra-light;
  }

  &__author {
    border-color: $color-normal;
  }

  &__text {
    padding-left: 12px;
  
    &_isAuthUser {
      padding-left: 0;
      padding-right: 12px;
    }
  }
}
