@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.profile {

  &__images {
    margin-bottom: 56px;
  }
  
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
    width: $width-profile-content-desctop;
    margin: 0 auto;

    @include xl {
      width: $width-profile-content-laptop;
    }

    @include sm {
      width: $width-profile-content-tablet;
    }

    @include xs {
      width: $width-profile-content-mobile;
    }
  }
  
  &__city {
    display: flex;
    gap: 8px;
  }

  &__about {
    padding: 12px 16px 16px;
    text-align: center;
    background: $color-very-light;
    border-radius: $border-radius-block;
  }
  
  &__aboutTitle {
    margin-bottom: 4px;
  }
  
  &__aboutDescribe {
    text-align: left;
  }
}
