@import "styles/utils/vars";
@import "styles/utils/mixins";

.header {
  background-color: $color-normal;

  @include xs {
    background-color: $color-dark;
  }

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    padding: 5px 0;

    @include xs {
      padding: 5px 0;
    }
  }

  &__title {
    width: 100%;
    margin-left: 16px;

    font-size: 36px;
    letter-spacing: 1px;
    color: $color-secondary;
    text-shadow: $text-shadow;

    @include xs {
      margin-left: 0;

      text-align: center;
      font-size: 28px;
    }
  }
}
