@import "styles/utils/vars";
@import "styles/utils/mixins";

.AuthForm {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__checkboxLabel {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-normal;

    &:hover {
      color: $color-dark;
    }
  }

  &__checkboxLabel,
  &__checkbox {
    cursor: pointer;
  }

  &__checkbox {
    width: 16px;
    height: 16px;

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 80px;
    height: 40px;
  }
}
