@import 'styles/utils/vars';
@import 'styles/utils/mixins';

.userCard {
  display: grid;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  gap: 8px;

  width: 100%;
  padding: 20px;

  background-color: $color-very-light;
  border: 1px solid $color-normal;
  border-radius: $border-radius-block;

  transition: box-shadow $transition-behavior;

  @include xs {
    padding: 16px;
  }

  &:hover {
    box-shadow: $box-shadow;
  }
  
  &__avatar {
    border-radius: $border-radius-block;
    width: 100px;
    height: 100px;

    @include xs {
      width: 80px;
      height: 80px;
    }
  }
  
  &__name {
    text-align: center;
  }
  
  &__city {
    font-size: $font-size-small;   
  }
  
  &__button {

    &_unfollow {
      background: $color-extra-normal;
    }
    
    &_unfollow:hover {
      background: $color-extra-dark;
    }
  }
}
